<mat-toolbar class="footer">
  <!--<div layout="row" layout-align="center center">-->
  <figure>
    <a href="http://www.unq.edu.ar/t" target="_blank">
      <img src="/assets/unq-logo.png" alt="UNQ" class="img-responsive">
    </a>
  </figure>

  <figure>
    <a href="http://ufq.unq.edu.ar/codnas/" target="_blank">
      <img src="/assets/codnas.png" alt="CoDNaS" class="img-responsive">
    </a>
  </figure>

  <figure>
    <a href="http://ufq.unq.edu.ar/sbg/">
      <img src="/assets/sbg_color.png" alt='Team Members' class="img-responsive">
    </a>
  </figure>


  <!--</div>-->
</mat-toolbar>
