mat-toolbar.footer {
  position: fixed;
  max-height: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  padding-right: 1em;
  padding-left: 1em;
  padding-top: 0px;
  margin: auto;
  background-color: #d0d0d0;
}

figure {
  /*flex: 0 1 20%;*/
  align-self: baseline;

  height: 50px;
  margin: auto;
  text-align: center;
  padding: 5px;
}

img {
  max-height: 80%;
}
