<mat-card
  class="mat-card-cvr"
  *ngIf="campoSearch ; else buscandoSpin"
>
  <h1>La entrada buscada es: {{ campoSearch['Cluster_ID'] }}</h1>
  <ul>
    <li>Name: {{ campoSearch['Query_name'] }}</li>
    <li>Cluster ID: {{ campoSearch['Cluster_ID'] }}</li>
    <li>Oligomeric_State: {{ campoSearch['Oligomeric_State'] }}</li>
    <li>RMSD: {{ campoSearch['RMSD'] }}</li>
    <li>Query_organism: {{ campoSearch['Query_organism'] }}</li>
    <li>Target_UniProt_ID: {{ campoSearch['Target_UniProt_ID'] }}</li>
    <li>Query_Gene_names: {{ campoSearch['Query_Gene_names'] }}</li>
    <li>pH: {{ campoSearch['target_pH'] }}</li>
    <li>Query_ligands: {{ campoSearch['Query_ligands'] }}</li>
  </ul>
</mat-card>
<mat-card>
  <div id="viewport" style="width: 300px; height: 300px;"></div>
</mat-card>

<ng-template #buscandoSpin
>
  <div class="spinner-border text-secondary" role="status" style="margin: 0 auto;float: none;"
       *ngIf="campoSearch && datos; else ingreseBusqueda">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>


<ng-template #ingreseBusqueda>
  <div class="alert alert-danger" role="alert"
       *ngIf="!campoSearch && !datos">
    Not found, it's a PDB??
  </div>
</ng-template>
