<!--<mat-card class="mat-card-cvr">-->
<!--  <mat-card-header class="mat-card-cvr">-->
<!--    <div mat-card-avatar class="example-header-image"></div>-->
<!--    <mat-card-title style="margin-bottom: 30px;">CodnasQ</mat-card-title>-->
<!--  </mat-card-header>-->
<!--  <div>-->
<!--    <mat-form-field>-->
<!--      <mat-label>PDB code: </mat-label>-->
<!--      <input-->
<!--        type="text"-->
<!--        matInput-->
<!--        placeholder="Ex 4dbe"-->
<!--        autocomplete="off"-->
<!--        [(ngModel)]="clusterID"-->
<!--      />-->
<!--    </mat-form-field>-->
<!--    <button-->
<!--      mat-button-->
<!--      (click)="Search($event, clusterID)"-->
<!--      routerLink="/cluster"-->
<!--    >-->
<!--      <mat-icon>search</mat-icon>-->
<!--    </button>-->
<!--  </div>-->
<!--  <div>-->
<!--    <button-->
<!--      mat-button-->
<!--      color="primary"-->
<!--      routerLink="cluster"-->
<!--      (click)="Search($event, '1l3b')"-->
<!--    >-->
<!--      Example 1l3b-->
<!--    </button>-->
<!--  </div>-->
<!--</mat-card>-->


<div class="card text-center align-self-center cardCenter" style="width: 18rem; margin-top: 20px">
  <div class="card-header">
    <!--        <div  class="example-header-image"></div>-->
    <h5 class="card-title">CoDNaS-Q</h5>
  </div>
  <div class="card-body">

    <p class="card-text">Busqueda simple de ejemplo</p>
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Ex 4dbe"
             aria-label="Recipient's username"
             aria-describedby="button-addon2"
             [(ngModel)]="clusterID">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="Search($event, clusterID)"
                [routerLink]=" '/cluster/' + clusterID ">search
        </button>
      </div>
    </div>
    <button
      type="button"
      color="primary"
      class="btn btn-outline-secondary"
      [routerLink]=" '/cluster/' + '1l3b' "
      (click)="Search($event, '1l3b')"
    >
      Example 1l3b
    </button>
  </div>


</div>
