.example-header-image {
  background-image: url("https://proteinstructures.com/Structure/Structure/protein-motifs_files/small_51894.jpg");
  background-size: cover;
  margin-bottom: 30px;
}
.mat-card-cvr {
  margin: 0 auto;
  margin-top: 120px;
  width: 40%;
}

.cardCenter {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
