/* You can add global styles to this file, and also import other style files */
/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/
@import '~bootstrap/dist/css/bootstrap.min.css';


.mat-tab-labels {
  justify-content: center;
}

.example-form {
  min-width: 300px;
  max-width: 500px;
  width: 100%;

}
  .example-full-width {
    width: 100%;
  }
  .example-card {
    max-width: 500px;
    margin: 0 auto;
    height: 400px;
    margin-top: 2%;
    background:#ADD2FF;
  }

.example-header-image {
  background-image: url('https://alifeofproductivity.com/wp-content/uploads/2013/06/stat.001.jpg');
  background-size: auto;
}

.img-responsive {
  max-width: 100%;
  height: auto
}

.clickable-pointer {
  cursor: pointer;
}
