<div mat-dialog-title>
  <h2>{{ pdbid }} - {{ structure_title }}</h2>
</div>
<h1>It works</h1>
<mat-card>
  <div
    id="ngl-viewport"
    style="height: 80%; width: 100%; display: block;"
  ></div>

  <mat-dialog-actions
    mat-line
    style="display: flex; justify-content: flex-end;"
  >
    <button mat-button color="primary" (click)="takePicture()">
      <mat-icon class="material-icons">file_download</mat-icon>&nbsp; PNG
    </button>

    <button mat-button color="primary" (click)="dialogRef.close()">
      Close
    </button>

    <!-- Can optionally provide a result for the closing dialog. -->
    <!--<button mat-button [mat-dialog-close]="true">Close</button>-->
  </mat-dialog-actions>
</mat-card>
