<mat-card class="mat-card-cvr">
  <mat-card-header class="mat-card-cvr">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>CodnasQ</mat-card-title>
  </mat-card-header>
  <div class="container">
    <app-searchForm></app-searchForm>
  </div>
</mat-card>
