<!--<mat-grid-list cols="3" rowHeight="2:1">-->
<!--  <mat-grid-tile *ngFor="let item of items">-->
<!--    <mat-card-->
<!--      style="max-width: 50%; margin: 10px;"-->
<!--      matTooltip="Uniprot: {{ item.Query_UniProt_ID }}"-->
<!--      (click)="mostrarEjemplo($event, item.Cluster_ID)"-->
<!--      matRipple-->
<!--      class="clickable-card"-->
<!--      routerLink="/cluster"-->
<!--    >-->
<!--      <img-->
<!--        mat-card-avatar-->
<!--        src="./assets/4hhb_ngl_thumbnail.jpg"-->
<!--        style="position: sticky;"-->
<!--      />-->
<!--      <h3>Name: {{ item.Query_name }}</h3>-->
<!--      <li>Cluster ID: {{ item.Cluster_ID }}</li>-->
<!--      <li>Oligomeric state: {{ item.Oligomeric_State }}</li>-->
<!--      <li>RMSD: {{ item.RMSD }}</li>-->
<!--    </mat-card>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->

<div class="row row-cols-1 row-cols-md-3">
  <div class="col mb-4" *ngFor="let item of items" (click)="mostrarEjemplo($event, item.Cluster_ID)"
       routerLink="/cluster"
       role="button"
       data-toggle="tooltip"
       data-placement="bottom"
       title="Uniprot: {{ item.Query_UniProt_ID }}">
    <div class="card h-100">
      <img src="./assets/4hhb_ngl_thumbnail.jpg" class="centerImg" alt="..."
           style="width:80px;height:80px;margin-top: 5px">
      <div class="card-body">
        <h5>{{ item.Query_name }}</h5>
        <li>Cluster ID: {{ item.Cluster_ID }}</li>
        <li>Oligomeric state: {{ item.Oligomeric_State }}</li>
        <li>RMSD: {{ item.RMSD }} Å</li>
      </div>
    </div>
  </div>
</div>
