<h1>
  Interfaces de {{ pdb_query }} izq | PDBs: {{ pdb_query }}(lightgreen),
  {{ pdb_target }}(red) der
</h1>

<!--<div>-->
<!--  <button id="verinterfaz">Interfaces View</button>-->
<!--</div>-->

<!--<div id="NGL" style="width: 400px; height: 400px; float: left;"></div>-->
<div id="viewport" style="width: 800px; height: 400px; float: left;"></div>
