<!-- /assets/logo3-logo-old-reworked-quat-cuadrado.png -->
<!-- https://alifeofproductivity.com/wp-content/uploads/2013/06/stat.001.jpg -->
<!--<mat-toolbar id="top-navbar" color="primary" class="topfixed">-->
<!--  <a routerLink="">-->
<!--    <img src="/assets/logoCodnas.png" class="logo" />-->
<!--  </a>-->
<!--  <button mat-button routerLink="about">About</button>-->
<!--  <button mat-button routerLink="stats">Stats</button>-->
<!--  <button mat-button routerLink="howto">How to use it</button>-->
<!--  <button mat-button routerLink="contact">Contact</button>-->
<!--  <button mat-button routerLink="browser">Browser</button>-->
<!--  <button mat-button routerLink="adsearch">Advanced Search</button>-->
<!--  <button mat-button routerLink="fvtest">FV test</button>-->
<!--  <button mat-button [matMenuTriggerFor]="menu">3D view</button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item (click)="goToRuta('NGL')">NGL</button>-->
<!--    <button mat-menu-item (click)="goToRuta('litemol')">LiteMol</button>-->
<!--  </mat-menu>-->
<!--</mat-toolbar>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="" style="margin: 2px;">
    <img src="/assets/logoCodnas.png" class="d-inline-block align-top" width="50" height="50"
         style="margin-right: 30px">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="about">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="stats">Stats <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="howto">How to use it <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="contact">Contact <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="browser">Browser <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="adsearch">Advanced Search <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="fvtest">FV test <span class="sr-only">(current)</span></a>
      </li>
<!--      <li class="nav-item dropdown">-->
<!--        <a id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"-->
<!--           aria-controls="dropdown-basic">-->
<!--          3D view-->
<!--        </a>-->
<!--        <div id="dropdown-basic" *dropdownMenu class="dropdown-menu"-->
<!--             role="menu" aria-labelledby="button-basic">-->
<!--          <a class="dropdown-item clickable-pointer" (click)="goToRuta('NGL')">NGL</a>-->
<!--          <a class="dropdown-item clickable-pointer" (click)="goToRuta('litemol')">LiteMol</a>-->
<!--        </div>-->
<!--      </li>-->
      <div class="btn-group" dropdown>
        <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
                aria-controls="dropdown-basic">
          3D view<span class="caret"></span>
        </button>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-basic">
          <li role="menuitem"><a class="dropdown-item clickable-pointer" (click)="goToRuta('NGL')">NGL</a></li>
          <li role="menuitem"><a class="dropdown-item clickable-pointer" (click)="goToRuta('litemol')">LiteMol</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
